header {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: lightblue;
  padding: 30px;
}
a:hover{
background-color: yellow;
}
.parent {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 166, 255, 0.698);
    border: 15px solid black;
    text-align: center;
    margin: 100px auto;
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
  }
.center {
padding: 45px;
}
  body {
    background-color: antiquewhite;
  }
.child {
  margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dirty {
    flex: auto;
    flex-wrap: wrap;
    border: 5px black dotted;
    text-align: center;
  }